.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.songs-container{
  height: calc(100vh - 30vh);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}

.player{
  position: relative;
}

.player-search{
  display: none;
  position: absolute;
  top:40px;
  right:20px;
}

.MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper{
  background-color: #141414 !important;
  color: white !important;
}

@media only screen and (max-width: 830px) {
  .tabs{
    display: none;
  }
  .songs-container{
    height: calc(100vh - 23vh);
  }
}

@media only screen and (max-width: 425px) {
  .songs{
    display: none;
  }
  .player-search{
    display: block;
  }
}