body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search:focus {
  outline: none;
}
.rhap_button-clear.rhap_repeat-button,
.rhap_time {
  display: none;
}

.song-container:hover {
  cursor: pointer;
}

.ant-spin-dot.ant-spin-dot-spin .ant-spin-dot-item {
  background-color: whitesmoke;
}
